//slim -d AGE=100 -d REP=1 CHIP2Env.slim
//SLiM version 5.1
//python 3.11.5
initialize() {
    initializeSLiMModelType("nonWF");
    initializeTreeSeq();
    initializeMutationRate(1e-8);//1e-8);
    defineGlobal('m1Fit', 0.0);
    defineGlobal('m2Fit', 0.0);
    defineGlobal('m3Fit', 0.0);
    initializeMutationType("m1", 0.5, "f", m1Fit); // gene A
    initializeMutationType("m2", 0.5, "f", m2Fit); // gene B
    initializeMutationType("m3", 0.5, "f", m3Fit); // gene C
    initializeMutationType("m4", 1, "f", 0.0);    
    initializeGenomicElementType("g1", m1, 1.0);
    initializeGenomicElementType("g2", m2, 1.0);
    initializeGenomicElementType("g3", m3, 1.0);

    initializeGenomicElement(g1, 0, 999999);
    initializeGenomicElement(g2, 1000000, 1999999);
    initializeGenomicElement(g3, 2000000, 2999999);
    initializeRecombinationRate(0);

    defineConstant('initial_popSize', 500); //20000-200000
    defineConstant('environment_shift_time', 30); //year after adult stage //off=0
    defineConstant('environment_shift_rate', 5); //off=0 original 0.015
    defineGlobal('environment_effect', 0.1); //off=1
    defineGlobal('environment_effect_max', 100); //selection=1
    defineGlobal('current_phase', 'grow');
    defineGlobal("current_generation", 0);
    defineGlobal('PreviousPopSize', 0);
}

1 early() {
    sim.addSubpop("p1", 1); // initial population
    print ('population with 1 cell generated');    writeFile("CHIPage_"+AGE+"_rep"+REP+"CellInfo.txt",       "sim.cycle\tAge\tCell_count_Reproduction\tAvgFitness\tSDFitness\tPopulationScale\tEnvEffect\tAsymCellDiv\tSymCellDiv\tCellSurvived\tCellKilled\tCell_count_Late", append=F);

}



reproduction() {
    defineGlobal('avgFit', 'NA');
    defineGlobal('sdFit', 'NA');
    defineGlobal('AsymC', 'NA');
    defineGlobal('SymC', 'NA');
    defineGlobal('SurC', 'NA');
    defineGlobal('KillC', 'NA');
    if (current_phase == "grow") {
            print ('reproduction grow');
            individual.setValue("toSurvive", F);    
            offs1 = subpop.addCloned(individual);
            offs1.setValue("toSurvive", T);

            offs2 = subpop.addCloned(individual);
            offs2.setValue("toSurvive", T);
         //   print ('growth stage normal sym div.'); 

    } else { //adult
        print ('reproduction adult');
        PopScale= initial_popSize / length(p1.individuals);
        fits = c();
        for (ind in p1.individuals) {
            n1 = ind.countOfMutationsOfType(m1);
            n2 = ind.countOfMutationsOfType(m2);
            n3 = ind.countOfMutationsOfType(m3);
            fit = (1 + m1Fit*n1) * (1 + m2Fit*n2) * (1 + m3Fit*n3);
            fits = c(fits, fit);
            ind.tagF= fit;
          //  print (ind.tagF);
        }

        avgFit = mean(fits);    
        sumFit = sum(fits);
        sdFit=sd(fits);
        if (sdFit<0.1){
           sdFit=0.1;
        }
        //select 40% cells to divide
        indAll = p1.individuals;
        probAll = fits / sumFit;
        if (initial_popSize<=length(p1.individuals)){
                  DivCellC0=0.4*initial_popSize;
        } else {
                  DivCellC0=0.4*length(p1.individuals);
        }          
        
        DivCellC=rpois(1, DivCellC0); //add random effect
        if (DivCellC>length(p1.individuals)){
            DivCellC=length(p1.individuals);
        }

        DividingCells = sample(p1.individuals, DivCellC, F, probAll);
        NonDividingCells = setDifference(p1.individuals, DividingCells);
        AsymC=0;
        SymC=0;
        for (ind in DividingCells){
             ind.setValue("toSurvive", F);
             offs1 = subpop.addCloned(ind);
             offs1.setValue("toSurvive", T);       
             // determine second division or not
             if (runif(1,0,1)<0.01) { //1%. normal division. One cell differentiates
                  AsymC=AsymC+1;
             } else { //abnormal division. No cell differentiates
                  if (runif(1,0,1)<(0.01*(1+environment_effect))) { //~1%. symmetric division. 
                      offs2 = subpop.addCloned(ind);
                      offs2.setValue("toSurvive", T);
                      print ('abnormal sym div. individual fitness '+ind.tagF);  
                      SymC=SymC+1;
                  } else { //Others. normal division. One cell differentiates
                      AsymC=AsymC+1;
                  }    
             }            
        }
        

        // individuals to be killed
        SurvCellC0=0.6*initial_popSize - SymC;
        SurvCellC=rpois(1, SurvCellC0);        
        ExtraC= length(NonDividingCells) - SurvCellC; 

        probAllN=c();
        for (ind in NonDividingCells){
            probAllN=c(probAllN,ind.tagF);
        
        }
        SurC=0;
        KillC=0;
        if (ExtraC > 0){
           SurvivingCells = sample(NonDividingCells, SurvCellC, replace=F, weights=probAllN);
           
        } else {
           SurvivingCells = NonDividingCells;
        }   
        for (ind in NonDividingCells) {
              if (size(which(SurvivingCells == ind)) > 0){
                  ind.setValue("toSurvive", T);
                 // print ('no division and survived. individual fitness '+ind.tagF);   
                  SurC=SurC+1;
              } else {
                  ind.setValue("toSurvive", F);
                  //print ('no division and killed. individual fitness '+ind.tagF);   
                  KillC=KillC+1;
              }
        } 
   defineGlobal('avgFit', avgFit);
   defineGlobal('sdFit', sdFit);
   defineGlobal('AsymC', AsymC);
   defineGlobal('SymC', SymC);
   defineGlobal('SurC', SurC);
   defineGlobal('KillC', KillC);     
   self.active = 0;     
   }   
}

early() {
    if (length(p1.individuals) >= initial_popSize & current_phase == 'grow'){
        defineGlobal('current_phase', 'adult');
        Extra=length(p1.individuals) - initial_popSize;
        if (Extra>0){
           SurC=0;
           KillC=0;
           KillingCells=rpois(1, Extra);
           SurvCellC=length(p1.individuals)-KillingCells;
           SurvivingCells = sample(p1.individuals, SurvCellC, replace=F);

           for (ind in p1.individuals) {
              if (size(which(SurvivingCells == ind)) > 0){
                  ind.setValue("toSurvive", T);
                 // print ('growth last no division and survived');
                  SurC=SurC+1;
              } else {
                  ind.setValue("toSurvive", F);
                 // print ('growth last no division and killed');
                  KillC=KillC+1;
              }
           }
        }
    }    
    catn(paste('sim.cycle= ',sim.cycle, 'time after adult= ',current_generation, current_phase,"early popsize =", length(p1.individuals),' environmental effect =',environment_effect));
   
        
}


survival() {
    //print ('survival'+individual.getValue("toSurvive"));
    if (isNULL(individual.getValue("toSurvive"))) {
       // print ('survival T');
        return(T); 
    } else {
      //  print ('survival ',individual.getValue("toSurvive"));
        return(individual.getValue("toSurvive"));    
    }    
}
late() {

    catn(paste(current_generation, current_phase,"late popsize =", length(p1.individuals)));
    N = length(p1.individuals);
    RmN=N-initial_popSize;
    if ( current_phase == 'adult') {
        // compute fitness for all individuals
        fits = c();
        for (ind in p1.individuals) {
            n1 = ind.countOfMutationsOfType(m1);
            n2 = ind.countOfMutationsOfType(m2);
            n3 = ind.countOfMutationsOfType(m3);
            fit = (1 + m1Fit*n1) * (1 + m2Fit*n2) * (1 + m3Fit*n3);
            fits = c(fits, fit);
        }

        avgFitLate = mean(fits);
      //  defineGlobal('Avefitness',avgFit);
        catn(paste("Late() survivors =", length(p1.individuals),
                   "original avg fitness =", avgFitLate, ' environment_effect '+environment_effect));
        writeFile("CHIPage_"+AGE+"_rep"+REP+"CellInfo.txt", 
                 paste(c(sim.cycle, current_generation, PreviousPopSize, avgFit, 
                        sdFit, initial_popSize/PreviousPopSize, environment_effect, AsymC, SymC, SurC, KillC, length(p1.individuals)), sep="\t"),
                 append=T);
        
        defineGlobal('current_generation', current_generation + 1);
       // print ('??current_generation'+ current_generation+ 'environment_shift_time '+environment_shift_time);
        //update environment
        if (current_generation > environment_shift_time & environment_effect<environment_effect_max){
             defineGlobal('environment_effect', environment_effect+ environment_shift_rate);
             print ('environment_effect updated '+environment_effect);
             
        
        }
        defineGlobal('PreviousPopSize', length(p1.individuals));
        
        
    }
    catn('\n');
    print (sim.cycle+' '+current_generation);
    if (current_generation==AGE){
                //sim.outputFull("CHIP.txt");
                print ('complete'+sim.cycle);
		sim.treeSeqOutput("CHIPage_"+AGE+"_rep"+REP+".trees");
		sim.simulationFinished();
     }
     

}
1000000 late(){ //fake
    if (sim.cycle==10){
                //sim.outputFull("CHIP.txt");
                print ('complete'+sim.cycle);
		sim.treeSeqOutput("CHIPage_"+AGE+"_rep"+REP+"FAKE.trees");
		sim.simulationFinished();
     }
}    


